@import url
("https://fonts.googleapis.com/css2? family = Roboto & display = swap");

body {
  min-height: 854px;
  background-image: url("https://images4.alphacoders.com/840/840709.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Stick No Bills;
}

.portfolio {
  margin: 40px;
  background: #edebd6;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  padding: 40px;
  font-size: 49px;
}

.cabecario {
  display: flex;
  justify-content: space-between;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.redes-sociais img {
  max-height: 50px;
  margin-left: 5px;
}

.foto-perfil {
  max-height: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 460px;
}

.perfil {
  display: flex;
}

.nome {
  margin-left: 20px;
}

.nome h1 {
  font-weight: 700;
  font-size: 36px;
}

.nome h3 {
  font-weight: 400;
  font-size: 24px;
}

.alterar-tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  background: #edebd6;
  border: 3px solid #0e1d2f;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 100px;
}

.projetos {
  margin-top: 20px;
  display: inline-flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #b05923 27.49%, #958a3a 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  padding: 32px;
  height: 860px;
  width: 1100px;
  overflow-y: scroll;
}

.projetos-titulo {
  list-style: none;
  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 12px;
  color: #1c1c1c;
}

.projetos-itens {
  margin-left: 40px;
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  font-family: Roboto;
  line-height: 28px;
}

.projetos-itens a {
  color: #1c1c1c;
  font-size: 20px;
}

.nome-projetos {
  font-size: 30px;
  font-weight: 400;
}

.dark {
  background-image: url("https://i.imgur.com/twI1Ctk.jpg");
}

.dark .portfolio {
  background: #333439;
  color: #f7f7f7;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .alterar-tema button {
  background: #1c1c1c;
  border: 2px solid #f7f7f7;
  color: #ffffff;
}

.conquistas {
  margin-top: 20px;
  margin-left: 30px;
  display: inline-flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #b05923 27.49%, #958a3a 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  padding: 32px;
  height: 860px;
  width: 351px;
  overflow-y: scroll;
}

.conquistas .projetos-titulo {
  margin-right: 40px;
  display: inline-flex;
  justify-content: center;
}

.conquistas img {
  max-height: 118px;
  margin-top: 15px;
  align-items: center;
}

.conquistas li {
  text-align: center;
  list-style-type: none;
}